@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Pacifico&display=swap");
@font-face{
    font-family: Plante;
    src: url(/src/assets/game/fonts/Plante.ttf);
}

.bg-image{
    background-image: url("/src/assets/index/background-1.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    filter: blur(3px);
    transform: scale(1.2);
    position: fixed;
    z-index: -1;
    width:100%;
    height: 100%;
}
.container{
    background-color: rgb(163, 177, 138);
    border-left: 5px solid rgb(52, 78, 65);
    border-right: 5px solid rgb(52, 78, 65);
    height:100vh;
    width:80%;
    margin-left:auto;
    margin-right: auto;
}
#game-canvas{
    display:block;
    background:#333;
    max-width: 960px;
    max-height:540px;
}
#title{
    font-size: 60px;
    padding: 5px;
    text-align: center;
    font-family: "Agbalumo";
    color: rgb(52, 78, 65);
    text-decoration: underline;
    margin-top: 0px;
    margin-bottom: 0px;
}
.game-container{
    border-radius: 30px;
    border: 5px solid rgb(52, 78, 65);
    background-color: rgb(218, 215, 205);
    width:1000px;
    height:580px;
    margin-left:auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
}
body,html{
    padding:0%;
    margin:0%;
}
a{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    text-decoration: none;
    font-family: "agbalumo";
    font-size: 30px;
    color: rgb(52, 78, 65);
}
a:hover{
    color:rgb(218, 215, 205);
}